.education-form-style{
     margin-left: 40%;
     margin-top: 2%;
}
.education-form-heading{
    margin-left: 40%;
    margin-top: 2%;
}
.education-form-style input{
    padding: 5px 5px;
    margin-top: 2%;
}