.employment-form-style{
    margin-top: 2%;
    margin-left: 40%;
}
.employment-heading-style{
    margin-left: 40%;
    margin-top: 1%;
}
.employment-form-style input{
    padding: 5px 5px;
    margin-top: 2%;
}