.personal-info-form-style{
    margin-left: 40%;
    margin-top: 2%;
}
.personal-info-form-style input{
    margin-top: 2%;
    padding: 5px 5px;
}

.personal-info-heading-style{
    margin-left: 35%;
}